#creator {
    display: grid;
    grid-template-columns: 50% 30%;
    grid-column-gap: 20%;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
}

#product-name {
    margin-bottom: 30px;
}

#product-title {
    font-weight: bold;
    font-size: 20px;
}

#product-title-details {
    font-size: 14px;
}

#product-view {
    width: 100%;
    height: fit-content;
}

#product-sides {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

#product-sides > * {
    margin-right: 20px;
}

#product-sides > .current {
    color: #666;
}

#product-sides > *:hover {
    color: #C0C0C0;
    cursor: pointer;
}

#product-options {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-white {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    outline: none;
    background-color: white;
    color: black;
    width: 220px;
    height: 50px;
}

#continue-button {
    border: solid 1px black;
    background-color: black;
    color: white;
    width: 160px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.selected-quote-content {
    text-align: center;
}

.selected-quote-author {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;   
}