#authentication #content {
    min-height: 90vh;
}

#account-forms-container {
    display: grid;
    grid-template-columns: 40% 1px 40%;
    grid-column-gap: 10%;
    width: 80%;
    margin: auto;
}

.account-forms-separate-line {
    margin-top: 40px;
    height: 70%;
    width: 1px;
    border-right: solid 1px #DCDCDC;
}

.account-form-header {
    font-size: 1.4em;
    text-align: center;
    margin: 0;
    margin-bottom: 60px;
}

.js-customer-form .form-group:first-child,
.js-visible-password + span {
    display: none;
}

.form-group {
    width: 80%;
    margin: 0px auto 60px auto;
    position: relative;
}

.register-form {
    position: relative;
}

.register-form-container {
    position: absolute;
    display: none;
    width: 100%;
}

.register-form .form-group:nth-last-child(2), 
.register-form .form-group:nth-last-child(3) {
    margin-bottom: 12px;
}

.register-form .form-group:nth-child(4) {
    margin-bottom: 90px;
}

.form-control {
    background: none;
    border: none;
    outline: none;
    border-bottom: solid 1px #DCDCDC;
    width: calc(100% - 8px);
    margin: auto;
    padding-left: 8px;
    position: relative;
    z-index: 100;
}

.form-footer {
    margin: 40px auto 0px auto;
    width: 80%;
    height: 45px;
}

.forgot-password {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

#submit-login {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    color: white;
}

.names-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}

.names-container .form-group {
    display: block !important;
    width: 48%;
    margin: 0;
}

.form-control-label {
    transition: all 150ms ease-in-out 0s;
    position: absolute;
    left: 8px;
    top: 0;
    z-index: 1;
}

.filled {
    top: -30px;
}

.col-md-6 .form-control-comment {
    display: none;
}

.psgdpr {
    display: none;
}

.form-control-submit {
    width: 100%;
    height: 100%;
    background-color: white;
    border: solid 1px black;
}

.privacy-policy-info {
    width: 60%;
    margin: 10px auto;
    text-align: center;
    font-size: 0.8em;
}

.button-container {
    width: 80%;
    height: 45px;
    margin: 100px auto;
}

@media only screen and (max-width: 1000px) {
    #account-forms-container {    
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 0;
        grid-row-gap: 100px;
        width: 60%;
        margin-bottom: 100px;
    }
    .account-forms-separate-line {
        display: none;
    }
}