.cart-main {
    margin-top: -50px;
    margin-bottom: 100px;
}

.cart-grid.row {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.cart-grid-body {
    margin-top: 20px;
}

.cart-grid-right {
    background-color: #DCDCDC;
    height: 850px;
    position: sticky;
    top: 20px;
}

.cart-title {
    font-family: Raleway;
    margin-left: 80px;
    font-weight: normal;
    margin-bottom: 60px;
    margin-top: 0;
}

.cart-items {
    list-style-type: none;
}

.cart-item {
    margin-bottom: 20px;
}

.cart-item:last-child .cart-separate-product {
    display: none;
}

.product-line-grid {
    display: grid;
    grid-template-columns: 16% 64% 20%;
    margin-bottom: 20px;
}

.cart-prodcut-left {
    width: 200px;
}

.product-image img {
    height: 120px;
}

.product-line-grid-left {
    margin-right: 20px;
}

.product-line-grid-body {
    margin-top: 10px;
}

.cart-item .btn {
    display: none;
}

.cart-quantity-select {
    width: 80px;
    height: 32px;
    border: solid 1px #DCDCDC;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-family: Raleway !important;
}

.js-cart-line-product-quantity {
    display: none !important;
}

.cart-quantity-select span {
    position: absolute;
    left: 10px;
    font-family: Raleway;
}

.cart-quantity-select img {
    height: 15px;
    width: 10px !important;
    width: auto;
    position: absolute;
    right: 12px;
    opacity: 0.6;
}

.quantity-select-list {
    position: absolute;
    background-color: white;
    border: solid 1px #DCDCDC;
    width: 100%;
    top: 100%;
    left: -1px;
    display: none;
}

.quantity-select-list ul {
    overflow: auto;
    height: 100px;
    list-style-type: none; 
    padding: 0;
    width: 98%;
}

.quantity-select-list ul::-webkit-scrollbar {
    width: 5px;
    left: -10px;
}

.quantity-select-list ul::-webkit-scrollbar-thumb {
    background-color: #DCDCDC;
    border-radius: 5px;
    cursor: pointer;
}

.quantity-select-option {
    padding-left: 10px;
    user-select: none;
}

.quantity-select-option:hover {
    background-color: #DCDCDC;
}
.quantity-selected {
    background-color: black;
    color: white;
}

.product-line-grid-right {
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
}

.product-line-grid-right .row {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.product-cart-title {
    font-size: 16px;
}

.product-cart-attribute {
    font-size: 14px;
}

.product-price {
    font-size: 15px;
}

.quantity-container {
    margin-top: 32px;
}

.cart-separate-product {
    border-bottom: solid 1px #DCDCDC;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.remove-from-cart-ico {
    margin-top: 10px;
    width: 30px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.remove-from-cart-ico img {
    width: 60%;
    height: auto;
    margin-bottom: 6px;
    margin-left: 2px;
}

.cart-details {
    margin-top: 100px;
    position: relative;
}

.cart-summary-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}

.cart-total .label {
    font-weight: bold;
}

.cart-summary-totals {
    margin-top: 80px;
}

.text-sm-center {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 45px;
    border: solid 1px black;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-sm-center a {
    color: white;
    font-size: 18px;
    margin-top: 4px;
}

.summary-tax {
    font-weight: normal;
    font-size: 14px;
    margin-left: 6px;
}

.shipping-info {
    height: 13px;
    position: absolute;
    right: 14px;
    bottom: 8px;
    cursor: pointer;
}

.message-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index:105;
    display: none;
}

.message-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.message-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 50%;
    background-color: white;
}

.payments-container {
    margin-top: 100px;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}

.payments-title {
    font-size: 18px;
}