* {
    font-family: Overpass;
}

/* PRODUCTS */

#left-column {
    display: flex;
}

#js-product-list {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.product-thumbnail img {
    height: auto;
    width: 100%;
}

.product-title {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.new-price {
    color: red;
    font-size: 22px;
    margin-right: 14px;
}
.price {
    font-size: 22px;
}

.regular-price {
    font-size: 16px;
}
/* SORT */
.panel-wrap {
    border-bottom: solid 1px rgba(0,0,0,0.3);
    width: 98%;
    left: 50%;
    transform: translateX(-50%);
}

.products {
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 20px;
    width: 100%;
}

.product-miniature {
    width: 100%;
}

.products-sort-order {
    cursor: pointer;
}

.products-sort-order:hover > #sort-list {
    display: block;
}

.products-selection {
    right: 22px;
}

img.dropdown {
    width: 16px;
    height: auto;
    display: block;
}

.custom-radio {
    width: 16px;
    height: 16px;
    border: solid 1px #C0C0C0;
    border-radius: 100%;
    margin-right: 8px;
    position:relative;
}

.custom-radio-selected {
    background-color: #444;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#sort-list {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: white;
    border: solid 1px #dcdcdc;
    padding: 16px;
    margin: 0;
    width: 200px;
    height: 220px;
}

#sort-title-wrap {
    position:absolute;
    display: flex;
    height: 100%;
    align-items: center;
}

#sort-title {
    display: block;
    margin-right: 4px;
}
.total-products{
    position:absolute;
    right: 16px;
}

#sort-list > li {
    margin-bottom: 10px;
}

#sort-list > li > div {
    display: flex;
    align-items: center;
}

/* PAGINATION */

.pagination {
    width: 100%;
    margin-top: 60px;
}

#pagination-separate-line {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px rgba(0,0,0,0.3);
}

#pagination-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#pagination-buttons a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

#page-input {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 60px;
}

#page-input span {
    padding-left: 10px;
    padding-right: 10px;
}

#select-page {
    padding-top: 5px;
    text-align:center;
    width: 3ch;
    border: solid 1px #dcdcdc;
    border-radius: 0;
    background-color: white;
    outline: none;
    margin-right: 10px;
}

.clear-all-ico {
    height: 10px;
    width: auto;
    margin-right: 10px;
}

.js-search-filters-clear-all {
    font-size: 14px;
    padding: 2px 6px 2px 6px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background: #DCDCDC;
    position:absolute;
    top: 49%;
    transform: translate(100px, -50%);
}

@media only screen and (max-width: 1000px) {
    .products {
        grid-template-columns: 45% 45%;
        grid-column-gap: 10%;
        grid-row-gap: 20px;
    }
}