#rules {
    margin-bottom: 200px;
}

#menu-separate-line {
    border-bottom: solid 2px rgba(0,0,0, 0.2)
}

#footer-separate-line {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    align-items: center;
    height: 200px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

#footer-separate-line > .line {
    border-bottom: solid 2px rgba(0,0,0,0.2);
    height: 1px;
}

p {
    text-align: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.rule-num {
    margin-top: 80px;
}

.rules-end {
    margin-top: 80px;
}


@media only screen and (max-width: 1024px) {
    p {width: 80%;}
    .text {font-size: 1.1em !important}
}

@media only screen and (max-width: 800px) {
    p {width: 90%;}
    .text {font-size: 1em !important}
    .header-text {font-size: 1.5rem !important}
}

@media only screen and (max-width: 600px) {
    p {width: 90%;}
    .text {font-size: 0.9em !important}
    .header-text {font-size: 1.1rem !important}
    .section-header { height: 60px !important}
    .rule-num {margin-top: 40px;}
}

@media only screen and (max-width: 400px) {
    p {width: 90%;}
    .text {font-size: 0.8em !important}
    .header-text {font-size: 1rem !important}
    .section-header { height: 60px !important}
    #menu-separate-line {border: none}
}