* {
    margin: 0;
    padding: 0;
    font-family: Overpass;
    font-weight: normal;
}

input[type="text"] {
    border: none;
    outline: none;
}

#form-container {
    position: absolute;
    width: 1100px;
    height: 94%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 100px 1fr 0.8fr 0fr 0fr 1fr 0.1fr;
    grid-template-rows: 40px 120px;
    grid-template-areas: 
    'header header blank blank blanki blanka blanka'
    'editExplain editExplain editExplain editExplain blanki search search'
    'form form form form form form form';
}

#form-header > * {

}

#editing-quotes-container, #search-container {
    display: flex;
    align-items: center;
}

#editing-content {
    opacity: 0.7;
}

#search-wrap {
    width: 100%;
    height: 36px;
    border: solid 1px black;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

#quote-search-input {
    height: 74%;
    width: 86%;
    font-size: 18px;
    margin-left: 8px;
    margin-right: 5px;
    margin-top: 2px;
}

#search-ico {
    height: 70%;
    width: auto;
}

#adding-quotes-header {
    margin-bottom: 25px;
}

#content-container {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.input-label {
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    width: 100px;
}

#quote-content-input {
    height: 90%;
    width: 90%;
    border: solid 1px black;
    border-radius: 4px;
    outline: none;
    padding-top: 6px;
    padding-left: 6px;
    padding-bottom: 6px;
    font-size: 16px;
}

#author-container, #categories-container {
    width: 50%;
    display: flex;
    align-items: center;
}

#categories-container {
    width: 50%;
}

.input-container {
    position: relative;
    
    width: 50%;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px black;
    border-radius: 4px;
}

#category-input-container {
    width: 90%;
}

.input-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    width: 90%;
}

.input-list {
    display: none;
    position: absolute;
    top: 32px;
    left: 4px;
    width: calc(100% - 26px);
    border: solid 1px black;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 6px;
    background-color: #FFF;
}

.list-option:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.list-dropdown-button {
    height: 70%;
    width: auto;
}

#selected-categories {
    display: flex;
    align-items: center;
    height: 100%;
}

.selected-category {
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
    background-color: #CCC;
    margin-right: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40%;
}

.selected-category:hover > .delete-category {
    filter: invert(14%) sepia(52%) saturate(6490%) hue-rotate(355deg) brightness(119%) contrast(119%);

}

.delete-category {
    margin-left: 4px;
    height: 70%;
    width: auto;
    margin-top: -1px;
}

#keyboard-ico {
    height: 50px;
    width: auto;
}

#confirm-quote {
    background-color: #FFF;
    border: solid 2px black;
    color: #000;
    outline: none;
    cursor: pointer;
    width: 220px;
    height: 46px;
    margin-left: 150px; 
    margin-top: 72px;
    padding-top: 2px;
    transition: all 200ms ease-in-out 0s;
    border-radius: 4px;
}

#confirm-quote:hover {
    background-color: #000;
    border: solid 2px #FFF;
    color: #FFF;
}
