#header-cart:hover #cart-preview {
    display: block;
}

#header-account:hover #account-preview {
    display: flex;
}

#cart-preview, #account-preview {
    position:absolute;
    width: 224px;
    height: 216px;
    right: 0px;
    display: none;
    background-color: white;
    border: solid 1px #DCDCDC;
    z-index: 100;
    font-family: Overpass;
}

#account-preview {
    height: 180px;
}

#last-added-product {
    height: 50%;
    font-size: 14px;
}

#last-added-title {
    font-size: 12px;
    margin-top: 4px;
    margin-left: 4px;
}

#last-added-product-preview {
    display: flex;
    align-items: center;
    height: 70%;
    margin-top: 10px;
}

#last-added-product-thumbnail {
    height: 100%;
    width: auto;
    margin-left: 6px;
    margin-right: 10px;
}

#last-added-price-name > span {
    display: block;
}

#cart-separate-line {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px #DCDCDC;
    margin-bottom: 10px;
}

#cart-preview-action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#summary-button, #cart-button {
    width: 80%;
    height: 28px;
    border: solid 1px black;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    transition: all 200ms linear 0s;
}

#summary-button {
    background-color: black;
    color: white;
    margin-bottom: 10px;
}

#summary-button:hover {
    background-color: white;
    color: black;
}

#cart-button {
    background-color: white;
    color: black;
}

#cart-button:hover {
    background-color: black;
    color: white;
}

#there-is-no-products {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#account-preview {
    flex-direction: column;
    align-items: center;
}

.preview-welcome-message {
    font-weight: bold;
    font-size: 16px;
    margin-top: 16px;
}

#my-account-preview-button {
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    margin-top: 14px;   
    margin-bottom: 18px;
    cursor: pointer;
}

.account-preview-separate-line {
    width: 80%;
    border-bottom: solid 1px #DCDCDC;
    margin-bottom: 18px;
}

#logout {
    border: solid 1px #DCDCDC;
    width: 60%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}