#quotes-section {
    min-height: 400px;
    font-family: Overpass;
}

.quote {
    margin-bottom: 20px;
}

.filter-values {
    display: flex;
    flex-wrap: wrap;
}

.filter-value {
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 4px;
    padding: 10px;
    display: block;
    font-size: 18px;
}

.filter-value:hover {
    background-color: #C0C0C0;
}   

.selected-filter {
    background-color: #444;
}