#quotes-section {
    min-height: 400px;
    font-family: Overpass;
}

.quote {
    margin-bottom: 20px;
}

.filter-values {
    display: flex;
    flex-wrap: wrap;
}

.filter-value {
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 4px;
    padding: 10px;
    display: block;
    font-size: 18px;
}

.filter-value:hover {
    background-color: #C0C0C0;
}   

.selected-filter {
    background-color: #444;
}

#quotes {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 40px 10%;
    margin: auto;
    margin-bottom: 100px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
}

.quote-mark {
    font-size: 4em;
    margin-bottom: 10px;
}

.quote-content {
    font-size: 1.2em;
    max-width: 80ch;
    margin-bottom: 10px;
}

.quote-author {
    font-size: 1.0em;
    margin-bottom: 6px;
}

.categories-container {
    display: flex;
    font-size: 0.8em;
}

.categories-container > * {
    margin-right: 4px;
}