.fancy-div {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 55%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.fancy-border-container {
    --border-style: solid 2px rgba(0,0,0,0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.fancy-border-rt {
    border-top: var(--border-style);
    border-right: var(--border-style);
}
.fancy-border-lb {
    border-bottom: var(--border-style);
    border-left: var(--border-style);
}

@media only screen and (max-width:1600px) {
    .fancy-div { width: 60%; }
}

@media only screen and (max-width: 1080px) {
    .fancy-div { width: 70%; }
}