@font-face {
    font-family: Raleway;
    src: url("../assets/fonts/Raleway-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Dancing Script;
    src: url("../assets/fonts/DancingScript-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Overpass;
    src: url("../assets/fonts/Overpass-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Overpass;
    src: url("../assets/fonts/Overpass-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

html, body, main, header {
    height: fit-content;
}
body {
    font-size: 100%;
}

a {
    color: black;
    text-decoration: none;
}
.dashed {
    border-bottom: dashed 1px black;
}

.dashed:hover {
    border-bottom: solid 1px black;
}
.text {
    font-family: Overpass;
    font-size: 1.3em;
}

.header-text {
    font-family: Raleway;
    font-size: 2rem;
    font-weight: normal;
}

.decoration-text {
    font-family: Dancing Script;
}

.center-position, p {
    margin-left: auto;
    margin-right: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #DCDCDC inset;
  transition: background-color 5000s ease-in-out 0s;
}