.section {
    width: 100%;
    height: 100vh;
    text-align: center;
}

/* HERO IMAGE */

#hero-image {
    height: calc(100vh - 250px);
    background-color: #000;
}

/* QUOTES */

#quote_section {
    margin-top: 20px;
}

.quotes-section-title {
    font-size: 32px;
    font-family: Overpass;
}

.quotes-title-fancy {
    font-family: Dancing Script;
    font-size: 40px;
    margin-top: -16px;
}

#quotation-link {
    display: block;
    height: 25px;

    text-align: right;
}

#quotes {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 50%;

    height: calc(100vh - 275px);
    margin-top: 90px;
}

.quote-sign { font-size: 64px; }

.quote {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* PREAMBLE */

#preamble-wrap, #preamble {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#preamble-wrap {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#preamble {
    width: 70%;
    height: 90%;
}

#preamble > h1 {
    width: 100%;
    margin-top: 100px;
}

#preamble > p {
    width: 87%;
    line-height: 130%;
}

#preamble > p:first-of-type {
    margin-top: 50px;
}

/* SHOP PREVIEW */

#shop-preview p {
    width: 76%;
    line-height: 120%;
}

.shop-note {
    margin-top: 60px;
    margin-bottom: 90px;
}

#products-categories {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    margin-top: 100px;
    font-size: 20px;
}

.category-img {
    width: 200px;
    height: 200px;
    background-color: #000;
    margin-bottom: 20px;
}

/* YOUTUBE PREVIEW */ 

.youtube-note {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;

    width: 70%;
    margin: 40px auto 0 auto;
}

.youtube-sign {
    height: 250px;
}

.youtube-sign > a {
    width: 200px;
    height: 200px;
}

.youtube-ico:hover + p {
    margin-top: -16px;
}

.youtube-ico {
    width: 200px;
    height: auto;
}

.youtube-sign  p {
    font-size: 24px;
    margin: 0;
    margin-top: -10px;
    transition: all 200ms ease-in-out 0s;
}

.separate-line {
    width: 25%;
    border-bottom: solid 2px black;
    margin: 40px auto 0 auto;
}

.social-media-wrap {
    width: 60%;
    display: grid;
    grid-template-areas: 
    'desc1 links' 
    'desc2 links';
    margin: 180px auto 0 auto;
}

.social-media-desc {
    font-size: 26px;
}

.links-container {
    display: flex;
    justify-content: space-around;
    height: 163px;
}

.social-media-link > a {
    height: 220px;
}

.social-media-link img {
    width: 100px;
    height: 100px;
}

.social-media-link p {
    transition: all 200ms ease-in-out 0s;
}

.social-media-link > a:hover > p {
    margin-top: 10px;
}

#social-media-decoration {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
}
 .sm-decoration-dot {
     width: 20px;
     height: 20px;
     background-color: black;
     border-radius: 100%;
 }

 .sm-decoration-dot:nth-child(2) {
     margin: 0 64px 0 64px
 }