* {
    --quotes-section-margin-top: 40px;
}

.section {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}

/* HERO IMAGE */

#hero-image {
    height: 100vh;
    background-color: #BBB;
}

/* QUOTES */

#quote_section {
    margin-top: 20px;
}

.quotes-section-title {
    font-size: 2em;
    font-family: Overpass;
}

.quotes-title-fancy {
    font-family: Dancing Script;
    font-size: 2.1em;
    margin-top: -16px;
}

#quotes {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 50%;
    align-items: center;

    height: calc(100vh - 275px);
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.quote-sign { font-size: 3em; }

.quote {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* PREAMBLE */

#preamble-wrap, #preamble {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#preamble-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#preamble {
    width: 70%;
    height: fit-content;
    padding-bottom: 80px;
}

#preamble > h1 {
    width: 100%;
    margin-top: 80px;
}

#preamble > p {
    width: 80ch;
    max-width: 90%;
    line-height: 130%;
}

#preamble > p:first-of-type {
    margin-top: 50px;
}

/* SHOP PREVIEW */
#shop-preview {
    display: grid;
    grid-template-rows: 100px 1fr;
}

#shop-preview p {
    line-height: 120%;
}

#shop-preview #description-container {
    margin: 0 auto;
    align-items: center;
    grid-template-columns: 42% 50%;
}

#shop-preview #description-left p {
    margin: 80px 0;
}

#shop-preview #description-photo-container {
    transform: scale(1.4);
}

#shop-preview #small-separate-line {
    width: 30%;
}

/* SLIDER */ 
.separate-line {
    width: 25%;
    border-bottom: solid 2px black;
    margin: 40px auto 0 auto;
}

#slider {
    position: relative;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
}

.slide {
    position: absolute;
    width: 100%;
    height: fit-content;
    display: none;
    margin-top: -40px;
}

#slide-dots-container {
    position: absolute;
    bottom: 40px;
    left: 50%;
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    transform: translateX(-50%);
}

.slide-dot {
    width: 8%;
    position: relative;
    border-radius: 100%;
    background-color: black;
    opacity: 0.3;
    transition: all 50ms linear 0s;
}

.slide-dot div {
    padding-top: 100%;
}

.slide-dot:hover { opacity: 0.6; }
.slide-dot-active { opacity: 1; }

#youtube-note {
    width: 80ch;
    max-width: 90%;
    margin-top: 0;
    margin-bottom: 100px;
    font-size: 1.1em;
}

.youtube-summary-1 {
    font-size: 1.1em;
    margin-top: 50px;
}
.youtube-summary-2 {
    font-size: 1.12em;
}

#first-slide-youtube-ico {
    width: 6%;
    height: auto;
    margin-top: 40px;
}

#first-slide-youtube-ico:hover {
    filter: invert(50%) sepia(84%) saturate(7316%) hue-rotate(348deg) brightness(88%) contrast(145%);
    width: 7%;
}

#slide-2-content-container {
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

#slide-2-left-content {
    display: grid;
    grid-template-rows: 60% 40%;
}

#slide-2-youtube-desc {
    font-size: 1.12em;
    width: 50%;
    margin-top: 50px;
}

#slide-2-youtube-ico {
    width: 15%;
    height: auto;
}

#slide-2-youtube-button-text {
    margin-top: -10px;
    transition: all 200ms ease-in-out 0s;
}

#slide-2-lb {
    font-size: 1.12em;
}

#subscribe {
    display: flex;
    justify-content: flex-start;
    width: 29%;
    margin-left: 38%;
}

#subscribe-button {
    background-color: black;
    color: white;
    width: 90%;
    height: 36px;
    font-size: 1.1em;
    padding-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
}

#subscribe-click {
    width: 16%;
    height: auto;
}

#slide-2-right-content {
    position: relative;
}
#slide-2-right-content > * {
    position: absolute;
}

.preview {
    width: 42%;
    height: 220px;
    background-color: #DDD;
}

#preview-1 {
    bottom: 40%;
    left: 40px;
}

#preview-2 {
    bottom: 60%;
    left: 120px;
}

#preview-title-1 {
    left: 500px;
    top: 26%;
}

#preview-title-2 {
    left: 420px;
    top: 46%;
}

#slide-3-content-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-areas: 
    'title title title title title'
    'insta-account insta-link space fb-link fb-account';
    grid-row-gap: 160px;
    align-items: center;
    width: 60%;
}

#social-note {
    font-size: 1.2em;
}

.slider-3-social-ico {
    width: 100px;
    height: auto;
}

.slider-3-social-title {
    margin-top: 10px;
}

#slider-3-fb-ico:hover {
    filter: invert(43%) sepia(15%) saturate(2064%) hue-rotate(182deg) brightness(87%) contrast(94%);
}

.slider-3-blackline-link {
    font-family: Dancing Script;
    font-size: 2em;
    margin-bottom: 30px;
}


@media only screen and (max-width: 1600px) {
    #preamble { width: 80%; }
    .shop-note { margin-top: 40px; }
    .shop-note > p:first-of-type { font-size: 22px; }
    .shop-note > p:nth-of-type(2) { font-size: 18px; }
    .category-img {width: 180px; height: 180px;}
    #shop-preview #description-photo-container { transform: scale(1.2) }
}

@media only screen and (max-width: 1370px) {
    #quote_section { margin-top: 0px; }
    .quotes-section-title { font-size: 26px; }
    .quotes-title-fancy { font-size: 30px;}
    .quote-sign { font-size: 56px; }

    #preamble > p:first-of-type { margin-top: 30px; }

    .shop-note { margin-top: 30px; margin-bottom: 50px;}
    .shop-note > p:first-of-type { font-size: 20px; }
    .shop-note > p:nth-of-type(2) { font-size: 17px; }
    #products-categories {margin-top: 50px; font-size: 18px;}
    .category-img {width: 160px; height: 160px;}

    .youtube-note { width: 80%; grid-template-columns: 35% 65%;}
    .note-content { font-size: 20px; }
    .youtube-sign { height: 180px; }
    .youtube-sign > a { width: 160px; height: 160px; }
    .youtube-ico {width: 160px;}
    .social-media-wrap { margin-top: 100px; width: 80%; }
    .social-media-desc { font-size: 22px; }
    .links-container { justify-content: space-evenly; }
    .social-media-link img { width: 70px; height: 70px; }
    .social-media-link > a > p { margin-top: 10px; }
    .social-media-link > a:hover > p { margin-top: 5px; }
    .youtube-ico + p { margin-top: -16px; }
    .youtube-ico:hover + p { margin-top: -20px; }
    #shop-preview #description-photo-container { transform: scale(1) }
}

@media only screen and (max-width: 1290px) {
    .text { font-size: 14px; }
    .header-text { font-size: 22px; }

    .quotes-section-title { font-size: 26px; }
    * {--quotes-section-margin-top: 0px; }
    #quotes { bottom: 40px; }

    #preamble > h1 { margin-top: 50px; }
    #preamble > p:first-of-type { margin-top: 26px; }
    #preamble > p { line-height: 130%; }

    .shop-note > p:first-of-type { font-size: 16px; }
    .shop-note > p:nth-of-type(2) { font-size: 14px; }

    .category-img { width: 120px; height: 120px; margin-top: 20px; }

    #slide-dots-container { width: 240px; }
    .slide-dot { width: 20px; height: 20px; }

    #youtube-note {margin-top: 50px; margin-bottom: 40px; font-size: 18px;}
    .youtube-summary-1 { font-size: 20px; margin-top: 26px; }
    .youtube-summary-2 { font-size: 22px; }
    #first-slide-youtube-ico { width: 80px; }

    #slide-2-youtube-desc { font-size: 20px; margin-top: 0 }
    #slide-2-youtube-ico { width: 94px; }
    #slide-2-lb { font-size: 20px;}
    #subscribe { margin-left: 36%; width: 200px; }
    #subscribe-button { font-size: 16px; width: 160px; height: 36px; }
    #subscribe-click { width: 30px; }
    .preview {width: 280px; height: 160px; }
    #preview-2 { bottom: 50%; left: 80px; }
    #preview-1 { bottom: 30%; }
    #preview-title-1 { left: 370px; top: 28%; font-size: 16px;}
    #preview-title-2 { left: 290px; top: 53%; font-size: 16px;}

    #social-note { font-size: 22px; }
    .slider-3-social-ico { width: 64px;}
    .slider-3-blackline-link { font-size: 32px; }
    #slide-3-content-container { width: 50%; top: 43%; }
    #shop-preview #description-photo-container { transform: scale(0.9) }
}

@media only screen and (max-width: 1080px) {
    .quotes-section-title { font-size: 22px; }
    #shop-preview #description-photo-container { transform: scale(0.8) }
}