* {
    --quotes-section-margin-top: 40px;
}

body, html {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

body > main {
    width: 100%;
    height: 100%;
}

#wrapper {
    margin-top: 0 !important;
}

.section {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}

/* HERO IMAGE */

#hero-image {
    height: 100vh;
    background-color: #BBB;
}

/* QUOTES */

#quote_section {
    margin-top: 20px;
}

.quotes-section-title {
    font-size: 2em;
    font-family: Overpass;
}

.quotes-title-fancy {
    font-family: Dancing Script;
    font-size: 2.1em;
    margin-top: -16px;
}

#quotes {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 50%;
    align-items: center;

    height: calc(100vh - 275px);
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.quote-sign { font-size: 3em; }

.quote {
    width: 90%;
    max-width: 80ch;
    position: relative;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-border {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.border {
    border: solid 2px #DCDCDC;
}

.border.rt {
    border-bottom: none;
    border-left: none;
    width: 60%;
    height: 40%;
}

.border.lb {
    border-top: none;
    border-right: none;
    width: 60%;
    height: 40%;
}

.border.rb {
    border: none;
    width: calc(40% - 2px);
    height: 40%;
}

.border.lt {
    border: none;
    width: calc(40% - 2px);
    height: 40%;
}

.border.rm, .border.lm {
    border: none;
    height: 20%;
    width: 50%;
}

.quote-wrap {
    position: relative;
    width: 90%;
    z-index: 2;
    margin: 30px 0;
}

.quote-wrap > * {
    text-align: center;
    margin: auto;
}

.quotation-mark {
    display: block;
    margin: auto;
    width: 16px;
    height: auto;
}

.quote-content {
    margin: 20px 0;
}

/* PREAMBLE */

#preamble-wrap, #preamble {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#preamble-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#preamble {
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preamble div {
    height: fit-content;
    width: 100%;
    padding: 0px 40px;
}

#preamble > h1 {
    width: 100%;
    margin-top: 80px;
}

#preamble > p {
    width: 80ch;
    max-width: 90%;
    line-height: 130%;
}

#preamble > p:first-of-type {
    margin-top: 50px;
}

/* SHOP PREVIEW */
#shop-preview {
    display: grid;
    grid-template-rows: 100px 1fr;
}

#shop-preview p {
    line-height: 120%;
}

#shop-preview #description-container {
    margin: 0 auto;
    align-items: center;
    grid-template-columns: 42% 50%;
    height: auto;
}

#shop-preview #description-left p {
    margin: 80px 0;
}

#shop-preview #small-separate-line {
    width: 30%;
}

#slide-3-content-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-areas: 
    'title title title title title'
    'insta-account insta-link space fb-link fb-account';
    grid-row-gap: 160px;
    align-items: center;
    width: 66%;
}

#social-note {
    font-size: 1.2em;
}

.slider-3-social-ico {
    width: 90px;
    height: auto;
}

.slider-3-social-title {
    margin-top: 10px;
}

#slider-3-fb-ico:hover {
    filter: invert(43%) sepia(15%) saturate(2064%) hue-rotate(182deg) brightness(87%) contrast(94%);
}

.slider-3-blackline-link {
    font-family: Dancing Script !important;
    font-size: 2em;
    margin-bottom: 30px;
}


@media only screen and (max-width: 1600px) {
    #preamble { width: 80%; }
    .shop-note { margin-top: 40px; }
    .shop-note > p:first-of-type { font-size: 22px; }
    .shop-note > p:nth-of-type(2) { font-size: 18px; }
    .category-img {width: 180px; height: 180px;}
    #shop-preview #description-photo-container { transform: scale(1.2) }
}

@media only screen and (max-width: 1370px) {
    #quote_section { margin-top: 0px; }
    .quotes-section-title { font-size: 26px; }
    .quotes-title-fancy { font-size: 30px;}
    .quote-sign { font-size: 56px; }

    #preamble > p:first-of-type { margin-top: 30px; }

    .shop-note { margin-top: 30px; margin-bottom: 50px;}
    .shop-note > p:first-of-type { font-size: 20px; }
    .shop-note > p:nth-of-type(2) { font-size: 17px; }
    #products-categories {margin-top: 50px; font-size: 18px;}
    .category-img {width: 160px; height: 160px;}

    .youtube-note { width: 80%; grid-template-columns: 35% 65%;}
    .note-content { font-size: 20px; }
    .youtube-sign { height: 180px; }
    .youtube-sign > a { width: 160px; height: 160px; }
    .youtube-ico {width: 160px;}
    .social-media-wrap { margin-top: 100px; width: 80%; }
    .social-media-desc { font-size: 22px; }
    .links-container { justify-content: space-evenly; }
    .social-media-link img { width: 70px; height: 70px; }
    .social-media-link > a > p { margin-top: 10px; }
    .social-media-link > a:hover > p { margin-top: 5px; }
    .youtube-ico + p { margin-top: -16px; }
    .youtube-ico:hover + p { margin-top: -20px; }
    #shop-preview #description-photo-container { transform: scale(1) }
}

@media only screen and (max-width: 1290px) {
    .text { font-size: 19px; }
    .header-text { font-size: 25px; }

    .quotes-section-title { font-size: 26px; }
    * {--quotes-section-margin-top: 0px; }
    #quotes { bottom: 40px; }

    #preamble > h1 { margin-top: 50px; }
    #preamble > p:first-of-type { margin-top: 26px; }
    #preamble > p { line-height: 130%; }

    .shop-note > p:first-of-type { font-size: 16px; }
    .shop-note > p:nth-of-type(2) { font-size: 14px; }

    .category-img { width: 120px; height: 120px; margin-top: 20px; }

    #youtube-note {margin-top: 50px; margin-bottom: 40px; font-size: 18px;}
    .youtube-summary-1 { font-size: 20px; margin-top: 26px; }
    .youtube-summary-2 { font-size: 22px; }

    #social-note { font-size: 22px; }
    .slider-3-social-ico { width: 64px;}
    .slider-3-blackline-link { font-size: 32px; }
    #slide-3-content-container { width: 64%; top: 43%; }
}

@media only screen and (max-width: 1080px) {
    .quotes-section-title { font-size: 22px; }
    #slide-3-content-container {width: 80%}
    #preamble {width: 80%}
    .text {font-size: 14px}
}

@media only screen and (max-width: 800px) {
    #quotes-preview .quote {transform: scale(0.9)}
    .slider-3-social-ico { width: 50px;}
    .slider-3-blackline-link { font-size: 26px; }
}

@media only screen and (max-height: 800px) and (max-width: 800px) {
    #preamble {
        height: 80%;
    }
    #preamble div {
        overflow: auto;
        height: 85%;
        padding: 0px 20px;
    }

    .text {font-size: 12px;}

    #slide-3-content-container {
        top: 50%;
        grid-row-gap: 40px;
    }
    .slider-3-social-ico { width: 40px;}
    .slider-3-blackline-link { font-size: 20px; }
    #social-note { font-size: 19px; }
}

@media only screen and (max-width: 645px) {
    .header-text {font-size: 16px}
    .slider-3-blackline-link {
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px) {
    .slider {
        flex-direction: column;
        width: 100%;
        font-size: 10px !important;
        margin-top: 0;
    }
    .slider-button.left {
        margin-top: 60%;
        margin-right: 60%;
    }

    .quote-content {
        margin: 6px 0;
    }

    .quotation-mark {
        width: 12px;
    }

    .fav-count {
        width: 33px;
        height: 14px;
    }

    .fav-ico {height: 16px;}
    .quote-embed {margin-left: 6px}
    .embed-ico {height: 16px}
    .slider-button {margin-top: -9%; margin-left: 30%; width: 32px;}
    .fav-count span {margin-top: -1px;}
    .header-text { font-size: 11px; }
    .text {font-size: 10px;}

    #youtube-previev .header-text {font-style: 14px;}
    #slide-3-content-container {
        grid-template-areas: 
            'title title'
            'fb-link fb-account'
            'insta-account insta-link'
    }
    #social-note {
        font-size: 14px;
    }
}

@media only screen and (max-width: 260px) {
    .header-text {font-size: 49%;}
}