.section-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 97vw;
    height: 100px;
}

.header-line {
    height: 5px;
    border-bottom: solid 2px #000;
}

.section-title {
    margin: 0 30px 0 30px;
    transition: all 150ms ease-out 0s;
}

.section-title.noclick {
    cursor: default;
}

.section-title:hover {
    margin: 0 50px;
}

.section-title.noclick:hover {
    margin: 0 30px;
}

.section-title-text {
    display: flex;
    white-space: nowrap;
}

.section-title-text > div:first-child {
    margin-right: 3%;
}